@{
    ViewData["Title"] = "Home Page";
}

<div id="divBody" class="divBody">
    <div id="divEsquerda" class="secoesBody">
        aaaaa
    </div>
    <div id="divDireitaCard" class="secoesBody">
        <div id="cabecalhoCard" class="itemCard"></div>
        <div id="textoCard" class="itemCard"></div>
        <div id="rodapeCard"class="itemCard"></div>
    </div>
</div>
v>